@import "src/assets/scss/variables.scss";

body {
  background: $base;
}

.app-container {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding: 0 10px 20px;
}

.content-container {
  max-width: 692px;
  margin: 0 auto;
  padding-top: 32px;
}

.title {
  font-family: $font-title;
  color: $neutral-1;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 57px;
}

.action-button {
  color: $base;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  &:hover,
  &:focus {
    box-shadow: 5px 5px 5px $neutral-2;
    background: $base;
    color: black;
    border: 2px solid $primary;
  }
}

.trashcan-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
  vertical-align: text-bottom;
  transition: color 0.3s ease;
}
