@import "src/assets/scss/variables.scss";

.tab-button {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $neutral-1;
  border: none;
  background: transparent;
  cursor: pointer;
  min-width: 92px;
  padding: 0 0 22px 0;
  &:hover,
  &:focus {
    color: $primary;
  }
  &:before {
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    border-radius: 4px 4px 0px 0px;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.tab-button--selected {
  color: $primary;
}

.tab-button--selected:before {
  background: $primary;
  width: 100%;
}
